# AWS設定ファイル
aws-config*.sh

# ログファイル
/log/
/log/*.log

# 一時ファイル
*.tmp
.DS_Store

# IDEファイル
.vscode/settings.json
.idea/

# .docディレクトリとその配下の*.mdファイル
/.doc/
/.doc/*.md

# 回答ディレクトリ
/.answer/
/.answer/*.md
